<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.aroundthetruck.customer">


    <application
        android:name="kr.co.aroundthetruck.customer.layoutController.AroundTheTruckApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="   푸드트럭 리스트"

            android:name=".BrandListActivity"
            android:icon="@drawable/threeline" ></activity>
        <activity
            android:label="   푸드트럭 정보"
            android:name=".BottomInfo"
            android:icon="@drawable/before"></activity>
        <activity

            android:name=".MainActivity"
            android:icon="@drawable/before"></activity>

        <activity
            android:label="   푸드트럭 검색"
            android:name=".Searching"
            android:icon="@drawable/before"></activity>
        <activity
            android:label="나의 프로필"
            android:name=".MyInfo"></activity>
        <activity
            android:name=".VerifyNumber"></activity>
        <activity
            android:label="나의 포인트"
            android:name=".MyPoint"></activity>
        <activity
            android:label="팔로우한 트럭"
            android:name=".MyFoodTruck"></activity>
        <activity
            android:name=".Setting"></activity>

        <activity
            android:label="   전화번호 인증"
            android:name=".ConfirmNum"
            android:icon="@drawable/before"></activity>

        <activity
            android:label="   나의 프로필"
            android:name=".MyProfile"></activity>

        <activity
            android:label="   푸드 트럭 위치"
            android:name=".TruckMap"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDAbeIMxwl-eTP_kXEXhrJL9vBj7tl6s30" />





</application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>
